
var strHandle = function (arr) {
  console.log("strHandle:" + arr)
  if (!arr) {
    return "";
  }
  var str = "";
  return arr[0] + "-" + changeTime(arr[1]) + "-" + changeTime(arr[2]) + " " + changeTime(arr[3]) + ":" + changeTime(arr[4]) + ":" + changeTime(arr[5]);
}

var changeTime = function (str) {
  if (!str) {
    str = "";
  }
  str += "";
  if (str && str.length == 1) {
    str = "0" + str
  }
  return str;
}

module.exports = {
  strHandle: strHandle
}