var strHandle = function (array) {
  var v = array, _str = v[0] + " " + v[1] + " " + v[2];
  if (_str.length > 11) {
    _str = _str.substring(0, 11) + "...";
  }
  return _str;
}

var isHidden = function (_dateIndex){
  if (_dateIndex == "" && _dateIndex != "0") {
    return false;
  }else{
    return true;
  }
}

var DateHandle = function (_date, _dateIndex) {
  console.log("----")
  if(!_dateIndex){ //默认不填，为空
    return;
  }
  if (_date&&_date[0]&&_date[0][0]){
    var len=_dateIndex.length,str="";
    console.log(len)
    // for(var i=0;i<len;i++){
    //   var _a = parseInt(_dateIndex[i]);
    //   console.log(_date[i][_a])
    //   str += _date[i][_a];
    // }
    // return str;
    var _y = parseInt(_dateIndex[0]),
      _m = parseInt(_dateIndex[1]),
      _d = parseInt(_dateIndex[2]),
      _h = parseInt(_dateIndex[3]),
      _min = parseInt(_dateIndex[4]),
      _s = parseInt(_dateIndex[5]);
    return _date[0][_y] + "-" + _date[1][_m] + "-" + _date[2][_d] + " " + _date[3][_h]
  }
  return;
}

var changeTime = function (str, h) {
  console.log("changeTime:"+str)
  if(!str){
    str="";
  }
  if (str&&str.length == 1) {
    str = "0" + str
  }
  h ? (str += ":00") : str;
  return str;
}

module.exports = {
  strHandle: strHandle,
  DateHandle: DateHandle,
  isHidden:isHidden
}